body {
	min-width: 100%;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
input[data-autocompleted] {
	background-color: transparent !important;
}
input::placeholder {
	opacity: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-position: inside;
}
ol {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
